.achievements {
    height: 754px;
    background-color: #000;
    position: relative;
}

@media (min-width: 768px) {
    .achievements {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .achievements {
        height: 2300px;
    }
}

@media (max-width: 320px) {
    .achievements {
        height: 2400px;
    }
}

@media (max-width: 280px) {
    .achievements {
        height: 2750px;
    }
}

.achievements .row.top {
    display: flex;
    min-height: 75%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 768px) {
    .achievements .row.top {
        min-height: 75%;
        padding-top: 50px;
        margin-bottom: 30px;
    }
}

.achievements .row.top .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 5%;
}

.achievements .row.top .content .achievements_container {
    display: flex;
    align-items: center;
}

.achievements .row.top .content .achievements_container .container {
    max-width: 1600px;
    overflow: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service {
    text-align: center;
    margin: 20px 0;
    padding: 0 40px;
}

@media (max-width: 768px) {
    .service {
        padding: 0 5px;
        margin-bottom: 50px;
    }
}

.service.border-side {
    border-left: 1px solid #251170;
    border-right: 1px solid #251170;
}

.service h4 {
    color: #fff;
    font-family: Poppins;
    margin: 15px 0 9px;
    font-size: 20px;
}

.service p {
    font-family: Geneva, Tahoma, sans-serif;
    color: #eee;
    font-size: 11px;
    font-weight: 300;
}

.achievements .row.top .content .baffle_text span {
    color: #fff;
    font-family: Poppins;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

@media (max-width: 767px) {
    .achievements .row.top .content .baffle_text span {
        font-size: 30px;
        line-height: 40px;
    }
}

.achievements .row.bottom {
    min-height: 20%;
    background-color: #251170;
    display: flex;
}

.achievements .row.bottom .container {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .achievements .row.bottom .container {
        display: block;
    }
}

/* @media (max-width: 769px) {
    .achievements .row.bottom .container {
        display: flex;
    }
} */

.achievements .row.bottom .container .counter_component {
    text-align: center;
}

@media (max-width: 991px) {
    .achievements .row.bottom .container .counter_component {
        padding: 20px;
    }
}

.achievements .row.bottom .container .counter_component .icon svg {
    color: #fff !important;
    font-size: 28px !important;
    height: 36px !important;
}

.achievements .row.bottom .container .counter_component .value span {
    color: #fff;
    font-size: 30px;
}

.achievements .row.bottom .container .counter_component .value .symbol {
    position: absolute;
    font-size: 17px;
    color: #eb83f8;
}

.achievements .row.bottom .container .counter_component .text {
    color: #fff;
    font-size: 14px;
    line-height: 15px;
}
