.educations {
    height: 754px;
    background-color: #000;
    position: relative;
}

@media (min-width: 768px) {
    .educations {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .educations {
        height: 1410px;
    }
}

@media (max-width: 280px) {
    .educations {
        height: 1450px;
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list {
    transform: translateZ(0);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-track {
    transform: translateZ(0);
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-slider .slick-track:after, .slick-slider .slick-track:before {
    display: table;
    content: "";
}

.slick-initialized .slick-slide, .slick-slide img {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.educations .row.top {
    min-height: 75%;
    display: block;
    overflow: hidden;
}

@media (min-width: 768px) {
    .educations .row.top {
        display: flex;
        align-items: center;
    }
}

.educations .row.top .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2% 5%;
    width: 100%;
}

.educations .row.top .content .baffle_text span {
    color: #fff;
    font-family: Poppins;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.educations .row.top .content .educations_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .educations .row.top .content .educations_container .container {
        max-width: 300px;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .educations .row.top .content .educations_container .container {
        width: 600px;
    }
}

.educations .row.top .content .educations_container .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.educations .row.top .content .educations_container .quote .animated {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animated.slow {
    animation-duration: 2s;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.educations .row.bottom .client div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.animated.slower {
    animation-duration: 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity:1
    }
}

.fadeIn {
    animation-name: fadeIn
}

.educations .row.top .content .educations_container .quote svg {
    font-size: 100px;
    color: #eb83f8;
    position: absolute;
    opacity: .2;
}

.educations .row.top .content .educations_container .education {
    outline: none;
}

.educations .row.top .content .educations_container .education h2 {
    color: #fff;
    font-family: Poppins;
    text-align: center;
    font-weight: 700;
}

.educations .row.top .content .educations_container .education .education_content {
    margin: 20px 0 30px;
}

.educations .row.top .content .educations_container .education .education_content p {
    font-family: Tahoma;
    color: #eee;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.educations .row.top .content .educations_container .education .client_container {
    display: flex;
    justify-content: center;
}

.educations .row.top .content .educations_container .education .client_container .client {
    display: flex;
}

.educations .row.top .content .educations_container .education .client_container .client img {
    max-width: 50px;
    max-height: 50px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 0;
    margin-right: 20px;
}

.educations .row.top .content .educations_container .education .client_container .client .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.educations .row.top .content .educations_container .education .client_container .client .info p.name {
    font-size: 15px;
    color: #fff;
}

.educations .row.top .content .educations_container .education .client_container .client .info p.profession {
    font-weight: 700;
    font-size: 10px;
    color: #eb83f8;
}

.educations .row.top .content .educations_container .education .client_container .client .info p {
    margin-bottom: 0;
    text-align: left;
}

.educations .row.top .content .educations_container .slick-dots {
    bottom: -50px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li, .slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.educations .row.top .content .educations_container .slick-dots li button:before {
    color: #fff;
    opacity: 1;
}

.educations .row.top .content .educations_container .slick-dots li.slick-active button:before {
    color: #eb83f8;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\2022";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.educations .row.bottom {
    display: flex;
    min-height: 25%;
    background-color: #251170;
}

.educations .row.bottom .client {
    display: flex;
    justify-content: center;
}

.educations .row.bottom .client img {
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 0;
    max-width: 100px;
    max-height: 100px;
    opacity: .5;
    transition: .5s;
}

@media (max-width: 767px) {
    .educations .row.bottom .client img {
        margin-top: 50px;
    }
}

.educations .row.bottom .client img:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .educations .row.top .content .baffle_text span {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 767px) {
    .educations .row.top .content .educations_container {
        display: block;
        padding: 70px 0;
    }
}

@media (max-width: 767px) {
    .educations .row.bottom {
        display: block;
        min-height: 65%;
    }
}

@media (max-width: 767px) {
    .educations .row.top {
        min-height: 38%;
    }
}

@media (min-width: 768px){
    .educations .row.bottom {
        margin: 0;
    }
}
