.home {
    background-color: #000;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .row {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) { .home .row {flex-wrap: wrap;} }

.home__profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .home {
        height: 100vh;
    }
}

.img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    overflow: hidden;
}

.home .row .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    background-color: #251170;
}

.home .row .content__text {
    z-index: 50;
}

@media (max-width: 1024px) {
    .row .content .glitch {
        font-size: 40px;
        line-height: 40px;
    }
}

.line__text h4 {
    color: #fff;
    font-family: Poppins;
    font-size: 22px;
    position: relative;
    left: 110px;
    flex-basis: inherit;
}

@media (max-width: 500px) {
    .line__text h4 {
        font-size: 14px;
    }
}

.line__text h4:after {
    content: "";
    height: 3px;
    width: 90px;
    display: block;
    background-color: #eb83f8;
    position: absolute;
    top: 0;
    left: -108px;
    top: 11px;
}

.glitch {
    position: relative;
    color: #fff;
    font-size: 70px;
    font-weight: 900;
    font-family: Poppins;
    animation: glitch-skew 1s linear infinite alternate-reverse;
    line-height: 70px;
}

.glitch:before {
    left: 0;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px,450px,56px,0);
    animation:glitch-anim 5s linear infinite alternate-reverse
}

.glitch:after,.glitch:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
}

.glitch:after {
    left: 0;
    left: -2px;
    text-shadow: -2px 0 #00fff9,2px 2px #ff00c1;
    animation: glitch-anim2 1s linear infinite alternate-reverse
}

.home .row .content .float-image.move-down {
    animation: down 4s infinite alternate;
}

.home .row .content .float-image.move-up {
    animation: up 4s infinite alternate;
}

.home .row .content .float-image {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 50px;
}

@media (max-width: 991px) {
    .home .row .content .float-image {
        width: 10px;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes down {
    0% {
        transform:translateY(0)
    }
    to {
        transform:translateY(40px)
    }
}

@keyframes up {
    0% {
        transform:translateY(0)
    }
    to {
        transform:translateY(-40px)
    }
}

.home .row .content .hover-button {
    margin-top: 20px;
}

.hover-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    font-family: verdana;
    letter-spacing: 4px;
    border: none;
}

.hover-button span {
    font-size:15px
}
.hover-button span:after,.hover-button span:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transition: 1s;
    mix-blend-mode: hue
}

.hover-button span:before {
    bottom: -2px;
    left: -2px;
    background: #fff
}

.hover-button span:after {
    bottom: -2px;
    right: -2px;
    background: #eb83f8
}

.hover-button:after,.hover-button:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transition: 1s;
    mix-blend-mode: hue
}

.hover-button:before {
    top: -2px;
    left: -2px;
    background: #eb83f8
}

.hover-button:after {
    top: -2px;
    right: -2px;
    background: #fff
}

.hover-button:hover:after,.hover-button:hover:before,.hover-button:hover span:after,.hover-button:hover span:before {
    width: 90px;
    height: 25px
}

.hover-button:focus {
    outline: none
}

.home .row .content .Typewriter {
    color: #fff;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 700;
}

.Typewriter__cursor {
    color: #eb83f8;
}

@media (max-width: 991px) {
    .home .row .content .Typewriter {
        font-size: 20px;
    }
}

@keyframes glitch-anim {
    0% {
        clip:rect(85px,9999px,45px,0);
        transform:skew(.54deg)
    }
    5% {
        clip:rect(68px,9999px,61px,0);
        transform:skew(.12deg)
    }
    10% {
        clip:rect(78px,9999px,54px,0);
        transform:skew(.64deg)
    }
    15% {
        clip:rect(13px,9999px,72px,0);
        transform:skew(.84deg)
    }
    20% {
        clip:rect(91px,9999px,24px,0);
        transform:skew(.54deg)
    }
    25% {
        clip:rect(42px,9999px,28px,0);
        transform:skew(.97deg)
    }
    30% {
        clip:rect(97px,9999px,13px,0);
        transform:skew(1deg)
    }
    35% {
        clip:rect(92px,9999px,64px,0);
        transform:skew(.26deg)
    }
    40% {
        clip:rect(88px,9999px,48px,0);
        transform:skew(.86deg)
    }
    45% {
        clip:rect(90px,9999px,24px,0);
        transform:skew(.82deg)
    }
    50% {
        clip:rect(81px,9999px,5px,0);
        transform:skew(.96deg)
    }
    55% {
        clip:rect(45px,9999px,78px,0);
        transform:skew(.05deg)
    }
    60% {
        clip:rect(90px,9999px,99px,0);
        transform:skew(.2deg)
    }
    65% {
        clip:rect(16px,9999px,66px,0);
        transform:skew(.39deg)
    }
    70% {
        clip:rect(72px,9999px,82px,0);
        transform:skew(.56deg)
    }
    75% {
        clip:rect(8px,9999px,8px,0);
        transform:skew(.81deg)
    }
    80% {
        clip:rect(37px,9999px,62px,0);
        transform:skew(.24deg)
    }
    85% {
        clip:rect(62px,9999px,59px,0);
        transform:skew(.47deg)
    }
    90% {
        clip:rect(77px,9999px,14px,0);
        transform:skew(.39deg)
    }
    95% {
        clip:rect(99px,9999px,91px,0);
        transform:skew(.9deg)
    }
    to {
        clip:rect(78px,9999px,30px,0);
        transform:skew(.51deg)
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(55px,9999px,29px,0);
        transform:skew(.59deg)
    }
    5% {
        clip:rect(55px,9999px,30px,0);
        transform:skew(.49deg)
    }
    10% {
        clip:rect(69px,9999px,5px,0);
        transform:skew(.06deg)
    }
    15% {
        clip:rect(16px,9999px,58px,0);
        transform:skew(.41deg)
    }
    20% {
        clip:rect(42px,9999px,8px,0);
        transform:skew(.57deg)
    }
    25% {
        clip:rect(46px,9999px,36px,0);
        transform:skew(.71deg)
    }
    30% {
        clip:rect(39px,9999px,33px,0);
        transform:skew(.09deg)
    }
    35% {
        clip:rect(69px,9999px,81px,0);
        transform:skew(.3deg)
    }
    40% {
        clip:rect(73px,9999px,20px,0);
        transform:skew(.71deg)
    }
    45% {
        clip:rect(94px,9999px,90px,0);
        transform:skew(.32deg)
    }
    50% {
        clip:rect(54px,9999px,93px,0);
        transform:skew(.16deg)
    }
    55% {
        clip:rect(60px,9999px,12px,0);
        transform:skew(.05deg)
    }
    60% {
        clip:rect(69px,9999px,69px,0);
        transform:skew(.03deg)
    }
    65% {
        clip:rect(16px,9999px,43px,0);
        transform:skew(.69deg)
    }
    70% {
        clip:rect(69px,9999px,55px,0);
        transform:skew(.97deg)
    }
    75% {
        clip:rect(11px,9999px,39px,0);
        transform:skew(.05deg)
    }
    80% {
        clip:rect(2px,9999px,41px,0);
        transform:skew(.27deg)
    }
    85% {
        clip:rect(62px,9999px,72px,0);
        transform:skew(.46deg)
    }
    90% {
        clip:rect(39px,9999px,94px,0);
        transform:skew(.45deg)
    }
    95% {
        clip:rect(43px,9999px,65px,0);
        transform:skew(.63deg)
    }
    to {
        clip:rect(67px,9999px,57px,0);
        transform:skew(.33deg)
    }
}

@keyframes glitch-skew {
    0% {
        transform:skew(-3deg)
    }
    10% {
        transform:skew(-4deg)
    }
    20% {
        transform:skew(1deg)
    }
    30% {
        transform:skew(4deg)
    }
    40% {
        transform:skew(2deg)
    }
    50% {
        transform:skew(-3deg)
    }
    60% {
        transform:skew(1deg)
    }
    70% {
        transform:skew(5deg)
    }
    80% {
        transform:skew(0deg)
    }
    90% {
        transform:skew(4deg)
    }
    to {
        transform:skew(5deg)
    }
}
