.portfolio {
    height: 754px;
    background-color: #000;
    position: relative;
}

@media (min-width: 768px) {
    .portfolio {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .portfolio {
        height: 1950px;
    }
}

@media (max-width: 280px) {
    .portfolio {
        height: 1700px;
    }
}

.portfolio .row {
    display: flex;
    min-height: 100%;
    padding: 0;
}

@media (max-width: 767px) {
    .portfolio .row {
        display: block;
        flex-wrap: wrap;
        padding-top: 40px;
    }
}

.portfolio .row .side {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #251170;
}

@media (max-width: 767px) {
    .portfolio .row .side {
        height: 100px;
        width: 100%;
    }
}

.portfolio .row .side .baffle {
    transform: rotate(-90deg);
    text-align: center;
}

@media (max-width: 767px) {
    .portfolio .row .side .baffle {
        transform: inherit;
    }
}

.portfolio .row .side .baffle .baffle_text span {
    color: #fff;
    font-family: Poppins;
    font-size: 60px;
    margin: 10px 0 20px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
}

@media (max-width: 767px) {
    .portfolio .row .side .baffle .baffle_text span {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 280px) {
    .portfolio .row .side .baffle .baffle_text span {
        font-size: 28px;
        line-height: 28px;
    }
}

.portfolio .row .recent-works {
    margin: auto;
}

.portfolio .row .recent-works .portfolio_container {
    margin-top: 20px;
}

.portfolio .row .recent-works .portfolio_container .portfolio_item {
    margin-bottom: 20px;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    width: 33.3%;
}

@media (max-width: 767px) {
    .portfolio .row .recent-works .portfolio_container .portfolio_item {
        width: 100%;
    }
}

.portfolio .row .recent-works .portfolio_container .portfolio_item img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 0;
}

.portfolio .row .recent-works .portfolio_container .portfolio_item .Tilt {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.portfolio .row .recent-works .portfolio_container .portfolio_item .Tilt .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: .5s;
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: #eb83f8;
    opacity: 0;
}

.portfolio .row .recent-works .portfolio_container .portfolio_item .Tilt .overlay span {
    z-index: 100;
    color: #251170;
    font-size: 20px;
    text-align: center;
    font-family: Poppins;
}

.portfolio .row .recent-works .portfolio_container .portfolio_item .Tilt:hover>.overlay {
    opacity: 1
}
