* {
	margin: 0;
	padding: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    box-sizing: border-box !important;
    overflow: hidden !important;
    position: relative !important;
    height: 754px !important;
}

.row {
	margin: 0;
}

@media (min-width: 992px) {
.row {
    padding: 0 10px;
}
}
.row {
    margin-right: 0;
    margin-left: 0;
}